/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;

}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* GENERAL SETTINGS */

@font-face{

	font-style: font;
}

body{
	background:;
	color:black;
 text-align: center;
	font-style :italic;
	text-align: center;
	
}

h1{color: white;
	font-size: ;
	letter-spacing: 4px;
	margin-bottom: 20px;
	font-weight:bolder;

}

h2{color: blueviolet;
	font-size: ;
	letter-spacing: 4px;
	margin-bottom: 5px;
	cursor:pointer ;
	font-weight:bolder;
	background: #550D16;
	border-bottom:6px solid #000 ;
	
	color: #fff;
	display: inline-block;
	line-height: 30px;
	font-size: 40px;
	padding: 5px 40px;
	letter-spacing: 2px;
	margin-bottom: 20px;
 

}



.sectionHeader{
	background: #550D16;
	border-bottom:6px solid #000 ;
	height: 60px;
	color: #fff;
	display: inline-block;
	line-height: 60px;
	font-size: px;
	padding: 5px 40px;
	letter-spacing: 2px;
	margin-bottom: 20px;
	text-align: center;


}


h3{
	font-size: ;
	color: #500D16;
	font-weight:bold ;
	transition: all .5s ease;
}


.sectionArea{
	padding: 90px 0px;
}

/* GRID SETTINGS */

.container{
width: 88%;
height:auto;
margin:10 auto ;
display: flex;
}


.featuresBody .container{
	justify-content: space-between;
	text-align: center;
}

 .engineBody .container{
	justify-content: space-between;}


.col3{
	flex-grow: 1;
	width:33.33% ;
}

.col2{
	flex-grow: 1;
	width: 50%;
	padding: 20px;
}


/* HOME SETTINGS */


header .logo {
	margin-right: auto;
}

header .logo{
	
}

.menu li{
	float: left;
	display: flex;
	width: auto;
	height: 100px;
}


.menu li a{
	padding: 20px 19px;
	display: block;
	text-decoration: none;
	letter-spacing: 2px;
	color: #333;
	transition: all .5s ease;

}






.menu li:hover a {
	background:#500D16 ;
	color: #fff;
}

#mainSlider{ 
background: url(https://www.hdcarwallpapers.com/walls/2018_bmw_m4-H.jpg);
background-size: cover;
width: 100%;
display: flex;
}

#mainCaption{
	height: 450px;
	
}

.caption{
	display:flex ;
	flex-direction: column;
	justify-content: center;
	width: 100%;
   color: #fff;
}


.featuresTop{
	text-align: center;
}

.item{
	padding: 10px 20px;
}

.zoom{
	position: relative;
	overflow: hidden;
	display: inline-block;
	width: 100%;
	vertical-align: top;

}

.zomm img {
	display:block ;
	width: 100%;
	height: auto;
	transition: all .5s ease;
}


item:hover .zoom img {
	transform: scale(01.25);
}


element.style{
		padding: 20px 19px;
	display: block;
	text-decoration: none;
	letter-spacing: 2px;
	color: #333;
	transition: all .5s ease;
}


.itemText{
		padding: 20px 19px;
	display: block;
	text-decoration: none;
	letter-spacing: 2px;
	color: #333;
	transition: all .5s ease;
}



.item .itemText{
	text-align: center;
	padding: 5px;
	color: red;
	border: 1px solid #500D16;

}




.item:hover h3 {
	color: #fff;
}

.item:hover itemText{
	background: #500d16;
	color: #fff;
transition: all .5s ease;
}


.btnDetails{
	color: #500d16;
	padding: 5px 10px;
text-decoration: none;
border: 1px solid #500d16;
transition: all .5s ease;
} 


.item:hover .btnDetails{
	color: #fff;
	border: 1px solid #fff;
}



.itemText p{
	margin:20px 2px ;
}



#parallax{
	background: linear-gradient(
   
   rgba(0, 0, 0, .7),
   rgba(0, 0, 0, .7),
	);

background: url(https://wallpaper.dog/large/5496028.jpg);
background-attachment: fixed;
background-size: cover;
background-position: center;
text-align: center;
}



#parallax p{
color: white;
}





.engineTop{
	text-align: center;
}



.engineContainer{
	position: relative;
	width: 100%;

}

.imgeOver{
		display: block;

}



.engineOverlay{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(80, 13, 22, .7);
   overflow: hidden;
   width: 0;
   height: 0;
   transition: .5s ease;

}


.engineContainer:hover .engineOverlay{
	width: 100%;

}



.engineText{
	white-space: nowrap;
	color: #fff;
	font-size: 20px;
	position: absolute;
	top: 50px;
	left: 50px;
	transform: translate(-50%, -50%);
}



.engineOverlay2{
	position: absolute;
	bottom: 0;
	left: 100%;
	right: 0;
	background-color: rgba(80, 13, 22, .7);
	overflow: hidden;
	width: 0;
	height: 100%;
	transition: .5s ease;
}


engineContainer2:hover .engineOverlay2{
	width: 100%;
   left: 0;
}



footer{
	background: #500d16;
	text-align: center;
	width: auto;
	height: auto;
}



.footerItem{
	padding: 20px;
}



.footerItem img{
	height: 50px;
	opacity: .5;
	color: white;
}



footer h3{
	color: white;
	font-size: 18px;
	letter-spacing: 2px;
	margin-bottom: 15px;
}


footer a{
	color: #95a5a5;
	font-size: 18px;
	letter-spacing: 2px;
	margin-bottom: 15px;
	text-decoration: none;
	
	letter-spacing: 2px;
	transition: .3s ease;

}



footer .fab{
	font-size: 30px;
	color: #95a5a5;
	line-height: 50px;
	transition: .3 ease;
}


footer .fab:hover{
	color: white;
	background: blueviolet;
	width: 60px;
	height: auto;
}


footer p{
	color: #95a5a5;
	line-height: 20px;
}


.footerLinks a{
	text-decoration: none;
	color: #95a5a5;
	letter-spacing: 2px;
	transition: .3s ease;

}


.footerLinks a:hover{
	color: #fff;
	text-decoration: underline;
	background: blueviolet;
	width: 30px;
	height: auto;
}


.socialLinks li {
	display: inline-block;
}





  /* CARS STTINGS*/

  #carsSlider{ 
background: url(https://www.hdcarwallpapers.com/walls/2018_bmw_m4-HD.jpg);
background-size: cover;
height:360px;
width: 100%;
}

#carsCaption{
	height:360px;
	background: rgba(0, 0, 0, .7);
	
}

#inspect{
	background-color:#f5f5f5 ;
}

.inspectTop{
	text-align: center;
}


.inspectBodyc.col2 {
display: flex;
}


.inspectImge {
	width: 40%;
}



.inspectImge img {
	width: 40%;
	height: auto;
}


.inspectText {
	width: 60%;
	padding-left: 10px;
}


.date {
	color: red;
	font-size:14px ;
	font-weight: bolder;
}

h4 {
	color:blue;
	font-size:14px ;
	font-weight:bold;
}



.inspectText a {
	float: right;
	text-decoration: none;
	color: blue;
	background:gainsboro;

}


.inspectText a:hover {
text-decoration: underline;
background: fixed;
}


.projectXTop {
	text-align: center;
}


#projectX .containerFluid{
	height: 500px;
	width: 1200px;
	background: url(https://www.bmw-egypt.com/content/dam/bmw/common/topics/highlights/bmw-now/bmw-design/flash/img/1_1_1_face_5_series.jpg);
   background-size: center;


}




.captionPX{
	display: flex;
		background: rgba(0, 0, 0, .5);
		width: 100%;
		height: 500px;
		color: royalblue;
}

.projectXInfo {
	position: relative;
	top: 50%;
	left: 50%;
	margin-left: 2%;
	padding: 2;
	transform: translate(-50%, -50%);
}


.projectXBTN {
	background-color:red;
	cursor: pointer;
	color:wheat ;
	padding: 10px 15px;
	margin-top: 20PX;
}


.projectXBTN :hover{
	background-color: blue;
	color:wheat;
}


.projectXHighlight {
	display: inline-block;
	background-color:red;
	padding: 20px;
}


.containerFluid .col2{
padding: 0;
}

.projectXDetali li {
	color:gainsboro;
}



/*ABOUT SETTINGS*/


 #aboutSlider{ 

background: url(https://img.freepik.com/premium-photo/silhouette-man-mountain-top-sky-sun-light_51530-734.jpg?w=2000);
background-size: cover;
height:250px;
width: 100%;
margin-bottom: 10px;
text-align: center;
}

#aboutCaption{
	height:360px;
	background: rgba(0, 0, 0, .7);
	
}


#ourHistory{
	background-color:#f5f5f5 ;
}


.ourHistoryTop {
	text-align: center;
}

.ourHistoryBody .containerFluid {
display: flex;
justify-content: space-between;
margin-bottom: 20px;
}



.ourHistoryBody .col2 {
	display: flex;
}



.ourHistoryDate{
	flex: 1;
	background-color: #500D16;
	color: #fff;
}


.ourHistoryDate p {
	font-size: 30px;
	letter-spacing: 2px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.ourHistoryImage {
	flex: 2;
}

.ourHistoryImage img {
	width: 100%;
	height: 100%;
}


.ourHistoryText {
	flex: 3;
	margin-left: 10px;
}

.ourHistoryText p {
 position: relative;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
  transition: .5s ease;

}



.teamTop {
	text-align: center;
}



.teamBody .containerFluid {
display: flex;
width: 100%;

}

.teamMember {
	position: relative;
	width: 100%;
}

.teamMemberImg {
	display: block;
	width: 100%;
	height: 100%;
}


.teamMemberOverlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 1;
	background-color: #500d16;
  transition: .5s ease;
}


.teamMember:hover .teamMemberOverlay {
	opacity: 0;
}



.teamMember:hover .teamMemberInfo {
	color: #fff;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: .8s ease;
}

.teamTitle {
	color: #fff;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	background-color: rgba(80, 13, 22, .7);
	position:absolute;
	top: 60%;
	left: 50%;
	transform: translateX(-50%);
	 
	padding: 20px;
	text-align: center;


}











.memberSocialLinks li {
	text-align: center;
}


.memberSocialLinks li {
display: inline;
margin-left: 5px;
margin-right: 5px;
}

.memberSocialLinks{
	text-align: center;
}


.memberSocialLinks li {
	display: inline;
	margin-left: 5px;
	margin-right: 5px;
}



/* CONTACT SETTINGS */

#contactSlider{ 

background: url(https://cdn.wallpapersafari.com/76/31/z7nCUs.jpg);
background-size: cover;
height:auto;
width: 100%;
margin-bottom: 10px;
text-align: center;
}

#contactCaption{
	height:400px;
	background: rgba(0, 0, 0, .7);
	
}



#gallery{
	background-color: f5f5f5;

}

.galleryTop{
	text-align: center;
}

.gallerySlider {
	 overflow: hidden;
	 width: 100%;
	 margin:0 auto ;


}

.gallerySliderItem {
	width: 300%;
	position: relative;
	left: 0;
	animation:  slideAnimation 30s infinite;
}


.gallerySliderItem img {
	width: 33.33%;
	float: left;
	height: auto;

}

@keyframes slideAnimation {
	0% { left: 0; }
	25% {left: -100%;}
	50% {left: -200%;}
	75% {left: -100%;}
	100%{left: 0;}

}

.contactTop{
	text-align: center;
}


.wrapper {
	margin: 0 auto;
	width: 100%;
}



.contactForm {
	margin:0 auto ;
	width:40% ;
}


.formItem {
	margin-bottom: 10px;
	width: 100%;
}

.formShape {
	color: #fff;
	float: left;
	background: #500d16;
	padding: 8px;
	width: 8%;
	text-align: center;
}



.formField {
	color: #fff;
	background-color: blue;
	
	padding: 15.5px;
	width: 92%;
	display: block;
	font-size: 14px;
}

.formBtn {
	display: block;
	border: none;
	background:  black;
	color: #fff;
	padding: 12px 25px;
	cursor: pointer;
	text-decoration: none;
	font-weight: bold;
}


.formBtn:hover {
	background: red;
}

.inspectBody .container {
	flex-direction: column;
}



.inspectBody .container  {
	width: 100%;
}








